<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Save <strong>any kind</strong> of movies</h1>
    <p>Classic</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<div>
<% @lists.each do |list| %>
<div class="card">
<%= link_to list.name, list %>
</div>
<% end %>
</div>

<%= link_to "Create a new list", new_list_path %>
